:root {
  --cor-1: #11151c;
  --cor-2: #212d40;
  --cor-3: #db7093;
  --cor-4: #0487D9;
  --cor-5: #2A678C;
  --cor-6: #73B2D9;
  --cor-7: #2CBF96;

  --sombra-cor: rgba(0, 0, 0, 0.500);

  --borda-1: 10px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 100%;
  height: fit-content;

  padding: 5px 25px;
}

/***************************/
/*     RESPONSIVENESS      */
/***************************/

@media screen and (min-width: 640px) and (max-width: 839px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    column-gap: 15px;
    row-gap: 20px;

    padding: 5px 20px;
  }
}

@media screen and (min-width: 360px) and (max-width: 639px) {
  .card-container {
    gap: 15px;

    padding: 0px 10px;
  }
}

@media screen and (max-width: 360px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 15px;

    padding: 0px 10px;
  }
}