:root {
    --cor-1: #11151c;
    --cor-2: #212d40;
    --cor-3: #db7093;
    --cor-4: #0487D9;
    --cor-5: #2A678C;
    --cor-6: #73B2D9;
    --cor-7: #2CBF96;
}  

.search-input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
    width: 100%;
    height: 100%;

    margin-right: 10px;
}
  
.search-input > input {    
    width: 150px;
    height: fit-content;
  
    padding: 6px 0;
    padding-right: 40px;
    padding-left: 10px;
  
    font-size: 1.3em;
  
    border: none;
    border-radius: var(--borda-1);

    outline: none;
  
    text-align: start;
  
    background-color: var(--cor-3);
    color: var(--cor-1);

    transition: all 0.35s ease-in-out;
}
  
.search-input > input::placeholder {
    color: var(--cor-1);
}

.search-input > input::-webkit-search-cancel-button {
    display: none;
}

.search-input > input:focus {
    width: 100%;
}

.search-input > .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;

    margin-left: -32px;

    color: var(--cor-1);
}

/***************************/
/*     RESPONSIVENESS      */
/***************************/

@media screen and (max-width: 479px) {
    .search-input {      
        grid-column-start: 1;
        grid-column-end: 5;
        width: 99%;
        height: fit-content;
        margin-left: 15px;
        margin-right: 20px;
        margin-top: 5px;
    }
      
    .search-input > input {    
        width: 100%;
        height: fit-content; 
        margin-right: 0px;     
        padding: 3px 10px;   
        font-size: 1.2em;
    }
    
    .search-input > .searchIcon {    
        display: none; 
    }
}